<div class="form-group">
	<h2>Agregar Artista</h2>
	<div class="col-xs-12 col-sm-6">
		Nombre:
		<br/>
		<input type="text" data-ng-model="nuevo.name" class="form-control" />
		<br/>
	</div>
	<div class="col-xs-12 col-sm-6">
		G&eacute;nero:
		<br/>
		<input type="text" data-ng-model="nuevo.genre" class="form-control" />
		<br/>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		Image de Fondo:
		<br/>
		<input type="file" id="idImgFondo" />
		<br/>
	</div>
	<div class="col-xs-12 col-sm-6">
		Imagen de Perfil:
		<br/>
		<input type="file" id="idImgPerfil"/>
		<br/>
	</div>
	
	<br/>
	<button type="submit" data-ng-click="agregar()" class="btn btn-primary">Aceptar</button>
	
</div>